In [7]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [21]:
#get plant list from clipboard
plant_dfm = pd.read_clipboard()
plant_dfm.head()

  plant                           description       type
0  24LT      LTH LOGITICS (SINGAPORE) PTE LTD  WAREHOUSE
1  24CW                CWT INTEGRATED PTE LTD  WAREHOUSE
2  24TE  TRIPLE EAGLE FORWARDING (TAIWAN) LTD  WAREHOUSE
3  24AW   ASIAN WAREHOUSING SINGAPORE PTE LTD  WAREHOUSE
4  24AU              AURORA CHEMICALS SDN BHD  WAREHOUSE

In [22]:
#get type-MRP group mapping from clipboard
mrp_dfm =pd.read_clipboard()
mrp_dfm.head()

        type MRP group
0  WAREHOUSE      ZPUR
1  WAREHOUSE      ZOTH
2  WAREHOUSE      ZSUB
3     TOLLER      ZPUR
4     TOLLER      ZOTH

In [24]:
#one to many merge plant list with MRP group list on 'type'
plantmrp_dfm = pd.merge(plant_dfm,mrp_dfm,on='type')
plantmrp_dfm.head()

  plant                       description       type MRP group
0  24LT  LTH LOGITICS (SINGAPORE) PTE LTD  WAREHOUSE      ZPUR
1  24LT  LTH LOGITICS (SINGAPORE) PTE LTD  WAREHOUSE      ZOTH
2  24LT  LTH LOGITICS (SINGAPORE) PTE LTD  WAREHOUSE      ZSUB
3  24CW            CWT INTEGRATED PTE LTD  WAREHOUSE      ZPUR
4  24CW            CWT INTEGRATED PTE LTD  WAREHOUSE      ZOTH

In [34]:
#mapping for MRP description
mrpdescription = {'ZPTS':'Packaging in Make-To-Stock',
                  'ZMTS':'Production in Make-To-Stock',
                  'ZPUR':'Purchased material (Supply chain)',
                  'ZOTH':'Others',
                  'ZSUB':'Subcontracting'}

mrpdescription

{'ZMTS': 'Production in Make-To-Stock',
 'ZOTH': 'Others',
 'ZPTS': 'Packaging in Make-To-Stock',
 'ZPUR': 'Purchased material (Supply chain)',
 'ZSUB': 'Subcontracting'}

In [35]:
#add mrp description in the plantmrp_dfm
plantmrp_dfm['MRP group description'] = plantmrp_dfm['MRP group'].map(mrpdescription)

In [36]:
plantmrp_dfm.head()

,plant,description,type,MRP group,MRP group description
0,24LT,LTH LOGITICS (SINGAPORE) PTE LTD,WAREHOUSE,ZPUR,Purchased material (Supply chain)
1,24LT,LTH LOGITICS (SINGAPORE) PTE LTD,WAREHOUSE,ZOTH,Others
2,24LT,LTH LOGITICS (SINGAPORE) PTE LTD,WAREHOUSE,ZSUB,Subcontracting
3,24CW,CWT INTEGRATED PTE LTD,WAREHOUSE,ZPUR,Purchased material (Supply chain)
4,24CW,CWT INTEGRATED PTE LTD,WAREHOUSE,ZOTH,Others

In [40]:
#export to excel
plantmrp_dfm.to_excel('plantmrpgourp.xlsx',sheet_name='sheet1')