In [5]:
from pandas import DataFrame as df
import pandas as pd
import numpy as np

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01 -0.048497 -0.383392  0.061058  0.922356
2000-01-02 -0.798410  1.445940  1.022298 -1.422350
2000-01-03 -0.537043  1.538101  0.922385 -0.381204
2000-01-04 -0.838793 -0.546656  0.351019 -0.236688
2000-01-05 -0.080170 -0.021887 -1.457145  1.823567
2000-01-06 -1.281169  1.230012 -1.389655  0.252400
2000-01-07  0.129598  0.064726 -0.938876  0.788368
2000-01-08 -1.251204  0.444398 -1.069567  1.002816

In [6]:
print(df.index)
print(df.index[0],type(df.index[0]))

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')
2000-01-01 00:00:00 <class 'pandas._libs.tslib.Timestamp'>

In [7]:
df.iloc[0]

A   -0.048497
B   -0.383392
C    0.061058
D    0.922356
Name: 2000-01-01 00:00:00, dtype: float64

In [ ]:
print(df.index[0].date())
print(df.index[0].to_pydatetime(),type(df.index[0].to_pydatetime()))
print(df.loc[df.index[0]])

In [62]:
from datetime import datetime as dt
weekday = dt.strptime('2017-9-3','%Y-%m-%d').weekday()
weekday

6

In [8]:
df.loc[df.index[0]]

A   -0.048497
B   -0.383392
C    0.061058
D    0.922356
Name: 2000-01-01 00:00:00, dtype: float64

In [11]:
print(type(df.columns))
df.columns

<class 'pandas.core.indexes.base.Index'>

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
dt = {id:dict(df.loc[id]) for id in df.index}
dt

{Timestamp('2000-01-01 00:00:00', freq='D'): {'A': -0.048497459064263386,
  'B': -0.38339249321829655,
  'C': 0.061057532175199297,
  'D': 0.92235610936045742},
 Timestamp('2000-01-02 00:00:00', freq='D'): {'A': -0.79841036025155487,
  'B': 1.4459400834587424,
  'C': 1.0222976250518923,
  'D': -1.4223500556466084},
 Timestamp('2000-01-03 00:00:00', freq='D'): {'A': -0.53704294314573087,
  'B': 1.5381010821470666,
  'C': 0.92238541692824527,
  'D': -0.38120400721505188},
 Timestamp('2000-01-04 00:00:00', freq='D'): {'A': -0.83879279224167202,
  'B': -0.54665620252675462,
  'C': 0.35101933855931072,
  'D': -0.23668839037314637},
 Timestamp('2000-01-05 00:00:00', freq='D'): {'A': -0.080169636035624575,
  'B': -0.021887032477660696,
  'C': -1.4571447673050819,
  'D': 1.8235666396567816},
 Timestamp('2000-01-06 00:00:00', freq='D'): {'A': -1.2811687922722808,
  'B': 1.2300119792682844,
  'C': -1.3896549170562484,
  'D': 0.25240019932281232},
 Timestamp('2000-01-07 00:00:00', freq='D'): {'A': 0.12959795823094986,
  'B': 0.06472627789006076,
  'C': -0.93887593770401556,
  'D': 0.78836811128583328},
 Timestamp('2000-01-08 00:00:00', freq='D'): {'A': -1.2512037909035405,
  'B': 0.44439776729631741,
  'C': -1.0695665637201954,
  'D': 1.0028155784264392}}

In [14]:
dict(df)

{'A': 2000-01-01   -0.048497
 2000-01-02   -0.798410
 2000-01-03   -0.537043
 2000-01-04   -0.838793
 2000-01-05   -0.080170
 2000-01-06   -1.281169
 2000-01-07    0.129598
 2000-01-08   -1.251204
 Freq: D, Name: A, dtype: float64, 'B': 2000-01-01   -0.383392
 2000-01-02    1.445940
 2000-01-03    1.538101
 2000-01-04   -0.546656
 2000-01-05   -0.021887
 2000-01-06    1.230012
 2000-01-07    0.064726
 2000-01-08    0.444398
 Freq: D, Name: B, dtype: float64, 'C': 2000-01-01    0.061058
 2000-01-02    1.022298
 2000-01-03    0.922385
 2000-01-04    0.351019
 2000-01-05   -1.457145
 2000-01-06   -1.389655
 2000-01-07   -0.938876
 2000-01-08   -1.069567
 Freq: D, Name: C, dtype: float64, 'D': 2000-01-01    0.922356
 2000-01-02   -1.422350
 2000-01-03   -0.381204
 2000-01-04   -0.236688
 2000-01-05    1.823567
 2000-01-06    0.252400
 2000-01-07    0.788368
 2000-01-08    1.002816
 Freq: D, Name: D, dtype: float64}

In [18]:
df.rename(columns={'A':'newA'},inplace = True)
df

                newA         B         C         D
2000-01-01 -0.048497 -0.383392  0.061058  0.922356
2000-01-02 -0.798410  1.445940  1.022298 -1.422350
2000-01-03 -0.537043  1.538101  0.922385 -0.381204
2000-01-04 -0.838793 -0.546656  0.351019 -0.236688
2000-01-05 -0.080170 -0.021887 -1.457145  1.823567
2000-01-06 -1.281169  1.230012 -1.389655  0.252400
2000-01-07  0.129598  0.064726 -0.938876  0.788368
2000-01-08 -1.251204  0.444398 -1.069567  1.002816