In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from sqlalchemy import create_engine

In [13]:
# Create your engine.
engine = create_engine('sqlite:///richmindsdev.db')
data = pd.read_sql_query('select * from stock_daily_noauth inner join stock_basic_info on stock_daily_noauth.Stock_ID = stock_basic_info.Stock_ID'
                         , engine)
data.head()

,Stock_ID,TransDateTime,Open,High,Low,Close,Volume,Turnover,Stock_ID,Stock_Name
0,000001,2011-10-10 15:00:00,2363.08,2368.15,2338.69,2344.79,41745306,39926411264,000001,上证指数
1,000001,2011-10-11 15:00:00,2401.74,2412.38,2323.41,2348.52,63975805,62773514240,000001,上证指数
2,000001,2011-10-12 15:00:00,2335.49,2421.69,2318.63,2420.00,91508567,84438392832,000001,上证指数
3,000001,2011-10-13 15:00:00,2412.83,2439.64,2406.28,2438.79,87860106,82192310272,000001,上证指数
4,000001,2011-10-14 15:00:00,2429.88,2437.59,2409.29,2431.37,60673159,58276065280,000001,上证指数

In [ ]:
#分析2015年度，每个月的成交量