In [13]:
import mysql.connector
cnx = mysql.connector.connect(user='Admin0', password='12345678',
host='localhost',
database='cn_stock_dev')

cursor = cnx.cursor()

add_stock_info = ('''REPLACE INTO stock_basic_info 
            (Stock_ID, Stock_Name) VALUES (%s, %s)''')
data_stock_info = ('600001', 'terry fan')
# Insert new employee
cursor.execute(add_stock_info,data_stock_info)
cnx.commit()
cursor.close()
cnx.close()

In [3]:
l=[('a',3,7), ('b',1,2), ('c',6,0), ('d',2,9), ('e',9,2)]
l.sort(key=lambda x:x[2])      #按第一列排序,非第零列
l

[('c', 6, 0), ('b', 1, 2), ('e', 9, 2), ('a', 3, 7), ('d', 2, 9)]

In [19]:
import os
import json
from datetime import datetime,timedelta
# import mysql.connector
import sqlite3
import shutil

def datetime_from_str(date,time):
    year_s, mon_s, day_s = date.split('/')
    time[:2]
    time[2:]
    try:
        return datetime(int(year_s), int(mon_s), int(day_s),int(time[:2]),int(time[2:]))
    except:
        pass
#        print (year_s, mon_s, day_s,time)

l = datetime_from_str('2016/01/10','1300')
l = l + timedelta(minutes = 10)
l.hour

13